@media only screen and (min-width: 1920px) {
    /* large laptops and desktops */
    
}
@media only screen and (min-width:768px) and (max-width:1024px){
    /* Tablets */

}
@media only screen and (max-width:767px){
    /* For mobile phones: */
	header nav li.nav-item.extra { display: inline-block; }
	#slider {margin-top: 60px;}
	.navbar.navbar-expand-sm { background: #000; }
	.navbar-brand { width: 20%; }
	button.navbar-toggler { position: absolute; right: 5px; top: 13px; color: #fff; z-index: 99; font-size: 26px; }
	#slider .carousel-caption h3 {font-size: 32px;line-height: 40px;}
	#slider .carousel-caption { bottom: 20px; }
	.navbar-toggler:focus { box-shadow: none; }
	#mynavbar { background: rgb(0 0 0 / 80%); padding: 20px; padding-top: 30px; position: absolute; top: 60px; left: 0; width: 100%; z-index: 9; }
	.navbar-expand-sm .navbar-nav { margin: 0; align-items: flex-start; gap: 10px; }
	#mynavbar li.sidebar-btn { display: none; }
	#mynavbar li.nav-item.dropdown { display: none; }
	.about-us .text-box h2 { font-size: 22px; }
	section.about-us .text-box { padding-top: 20px; }
	.our-service { padding-left: 0; }
	.serviceSwiper.button-bottom .swiper-button-prev {left: 40%;transform: translateX(-70%);}
	.serviceSwiper.button-bottom .swiper-button-next {left: 60%;transform: translateX(-40%);}
	.global-presence h3 { font-size: 22px; }
	.global-presence p { width: 75%; }
	.our-service h3 { font-size: 26px; }
	.certifications h3 { font-size: 26px; line-height: 32px; }
	.share h3 { font-size: 26px; line-height: 32px; }
	.certificationSwiper.button-bottom .swiper-button-next { left: 60%; transform: translateX(-50%); }
	.certificationSwiper.button-bottom .swiper-button-prev { left: 40%; transform: translateX(-50%); }
	#slider .slide.inner-slider .carousel-caption h3 { font-size: 32px; }
	.mission-box { padding: 45px 30px 20px; text-align: center; }
	.timelineSwiper.button-bottom .swiper-button-prev { left: 40%; transform: translateX(-50%); }
	.timelineSwiper.button-bottom .swiper-button-next { left: 60%; transform: translateX(-50%); }
	.quality h3,
	.patents h3,
	.mission-box h2,
	.timeline h3,
	.get-touch h3,
	.addresses h3,
	.contact-details h3,
	.project h3,
	.faq h3 { font-size: 32px; line-height: 40px; }
	.addresses .tab-box { height: auto; margin-bottom: 30px; }
	.info { padding: 20px; border-bottom: 1px solid #ddd; }
	.project a.nav-link { font-size: 16px; background: #ddd; }
	.project a.nav-link.active { font-size: 17px; background: #b7b7b7; }
	ul.nav.nav-tabs.nav-justified { gap: 10px; flex-direction: column; }
	.get-touch,
	.addresses,
	.project,
	.contact-details { padding-bottom: 0; }
	.innovationSwiper.button-bottom .swiper-button-prev { left: 40%; transform: translateX(-50%); }
	.innovationSwiper.button-bottom .swiper-button-next { left: 60%; transform: translateX(-50%); }
	.works .gallery img { width: 100%; }
	.works .gallery .div1 img { height: 100%; }
	.our-locations h3,
	.innovation-centre h3,
	.latest-innovation h3,
	.works .card .card-header a {font-size: 22px;line-height: 26px;}
	.latest-innovation { padding: 20px; }
	.latest-updates .post { padding-right: 7px; }
	.latest-updates .post .post-img img { width: 100%; }
	.featured h3,
	.latest-updates h3 { font-size: 32px; line-height: 40px; }
	.featured h4 { font-size: 24px; line-height: 32px; }
	.featured,
	.latest-updates { padding-bottom: 0; }
	section.patents .patentsSwiper.button-top { padding-top: 0; padding-bottom: 70px; }
	.patents-box { top: 15px; }
	.patentsSwiper.button-top .swiper-button-prev {left: 40%;transform: translateX(-70%);top: auto;bottom: 0;}
	.patentsSwiper.button-top .swiper-button-next {left: 60%;transform: translateX(-40%);top: auto;bottom: 0;}
	ul.logo-list li {flex: 0 0 45%;width: 215px;height: 138px;}
	.our-service .item-box { padding: 40px 45px; }
	.footer-botton ul { flex-direction: column; height: auto; align-items: baseline; gap: 10px; }
	.footer-botton ul { font-size: 14px; }
	.footer-botton { padding: 20px 0; }
	.footer-botton p { text-align: left; font-size: 14px; }
	footer h4 { margin: 15px 0; border-bottom: 1px solid #ccc; padding-bottom: 8px; }
	.modal .modal-body h2 {font-size: 18px;}
	ul.number li {font-size: 18px;}
	section.innovation-centre h5 {margin-top: 20px;}
	.works .card .card-header {padding: 10px;}
	ul.logo-list {
    padding-left: 10px;
}
}
@media only screen and (max-width:375px){

}